.grid {
    /*http://codepen.io/jasonadelia/pen/DnrAe*/
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
}
.main-bg {
    background-image: url(../img/bg/main-bg.png);
    background-repeat: repeat;
    background-position: center;
}
.gear-pic-1 {
    background-image: url(../img/front/gear-1.png);
    background-size: 100%;
}
.gear-pic-2 {
    background-image: url(../img/front/gear-2.png);
    background-size: 100%;
}

.mark {
    background: url(../img/icons/mark.png) no-repeat center;
}
.web {
    background: url(../img/icons/web.png) no-repeat center;
}
.twitter {
    background: url(../img/icons/twitter.png) no-repeat center;
}
.facebook {
    background: url(../img/icons/facebook.png) no-repeat center;
}

.google {
    background: url(../img/icons/google.png) no-repeat center;
}
.twitter, .facebook, .google {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    float: left;
}
.profile-pic{
    background-image: url(../img/profile.jpg);
    background-size: 100%;
}

