.blue{
    background-color: #48A9E4;
}
.light-gray{
	background-color: #525252;
}
.pink{
    background-color: #E83556;
}
.yellow{
    background-color: #D1C825;
}
.gray{
    background-color: #999;
}
.white{
    background-color: #fff;
}
