.square-280{
    width: 280px;
    height: 280px;
}
.square-200{
    width:200px;
    height:200px;
}
.square-180{
    width:180px;
    height:180px;
}
.square-130{
    width: 130px;
    height: 130px;
}
.circle-280{
    width: 280px;
    height: 280px;
    border-radius: 100%;
}
.circle-200{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.circle-180 {
    width: 180px;
    height: 180px;
    border-radius: 100%;
}
.circle-160{
    width: 165px;
    height: 165px;
    border-radius: 100%;
}
.circle-145 {
    width: 145px;
    height: 145px;
    border-radius: 100%;
}
.circle-130 {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
.circle-125 {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}
.circle-90 {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

