#gear-system-wrapper{
	height: 400px;
	width: 500px;
	margin: 0px auto;
}
#mycontact-wrapper {
    float: left;
    margin-top: 20px;
    margin-left: 145px;
    margin-right: 150px;
    margin-bottom: 5px;
    position: relative;
}
#mycontact {
    margin: 20px;
    position: absolute;
}
#mycontact-link {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
}
#profile-pic-wrapper {
    float: left;
    margin-top: -20px;
    margin-left: 30px;
    position: relative;
}
#profile-pic {
    /*margin: 40px;
    position: absolute;*/
    margin-top: -222.5px;
    margin-left: auto;
    margin-right: auto;
}
#mywork-wrapper {
    float: left;
    margin-left: -20px;
    margin-top: -20px;
    position: relative
}
#mywork {
    margin: 27.5px;
    position: absolute;
}
#mywork-link {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
}
#myresume-wrapper {
    float: left;
    position: relative;
    margin-left: -50px;
    margin-right: 150px;
    margin-top: -20px;
}
#myresume {
    margin: 25px;
    position: absolute;
}
#main-biography-wrapper {
    margin-top: 25px;
}

