body {
	padding-bottom: 150px;
	padding-top: 0px;
}

.container-fluid {
	background-color: transparent;
}

.navbar {
	margin: 0px;
	border: none;
}

/* ----------- Footer Block -----------*/
#footer-wrapper {
	/*margin-top: 50px;*/
	position: bottom;
}

#footer {
	padding-top: 10px;
	padding-bottom: 0px;
	/*margin-top: 50px;
	padding-top: 25px;
	margin-bottom: 25px;*/
}

.footer-info-wrapper {
	width: 180px;
}

.footer-info {
	float: left;
	padding: 5px;
	color: #fff;
	font-size: 10px;
}

.div-normal-icon {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	float: left;
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-phone {
	background-image: url(../img/icons/phone-resize.png);
}

.icon-email {
	background-image: url(../img/icons/email-resize.png);
}

.icon-social {
	background-image: url(../img/icons/social-resize.png);
}

.icon-copy {
	background-image: url(../img/icons/copy-resize.png);
}

/* ----------- Resume Block -----------*/
#resume-wrapper {
	width: 100%;
	height: 100%;
}

.resume-content-style {
	font-weight: 200;
	text-align: justify;
	line-height: 2em;
}

.div-resume-btn {
	/*height: 120px;
	width: 120px;*/
	border-radius: 100%;
	margin: 0 auto;
	cursor: pointer;
}

.div-resume-btn div {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	padding-top: 40px;
	color: #fff;
	line-height: 1.5em;
}

.resume-detail .active {
	display: block;
}

.resume-detail .inactive {
	display: none;
}

@media only screen and (max-width : 320px) {
	.div-normal-icon {
		width: 20px;
		height: 20px;
	}
	.div-resume-btn {
		height: 50px;
		width: 50px;
	}
	.div-resume-btn div {
		font-size: 6px;
		padding-top: 15px;
	}
	.resume-content-style {
		font-size: 10px;
	}
}

@media only screen and (min-width : 320px) {
	.div-normal-icon {
		width: 30px;
		height: 30px;
	}
	.div-resume-btn {
		height: 60px;
		width: 60px;
	}
	.div-resume-btn div {
		font-size: 8px;
		padding-top: 18px;
	}
	.resume-content-style {
		font-size: 12px;
	}
}

@media only screen and (min-width : 480px) {
	.div-normal-icon {
		width: 20px;
		height: 20px;
	}
	.div-resume-btn {
		height: 100px;
		width: 100px;
	}
	.div-resume-btn div {
		font-size: 10px;
		padding-top: 30px;
	}
	.resume-content-style {
		font-size: 14px;
	}
}

@media only screen and (min-width : 768px) {
	.div-normal-icon {
		width: 40px;
		height: 40px;
	}
	.div-resume-btn {
		height: 120px;
		width: 120px;
	}
	.div-resume-btn div {
		font-size: 12px;
		padding-top: 35px;
	}
	.resume-content-style {
		font-size: 16px;
	}
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1200px) {
}