* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    background-color: #000;
    background-size: 100% 100%
}

a {
    text-decoration: none;
}


/* unvisited link */

a:link {
    color: #33DCF0;
}


/* visited link */

a:visited {
    color: #02E0FB;
}


/* mouse over link */

a:hover {
    color: #02A3FB;
}


/* selected link */

a:active {
    color: #3AB4F6;
}

hr {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.container {
    max-width: 800px;
    padding: 10px 10px;
    margin: auto;
}

.result {
    width: 100%;
    display: block;
}

.history {
    display: block;
}

.history h1,
h2,
h3,
h4,
h6 {
    font-weight: 300;
    padding: 10px;
}

.history h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
}

.history h3 {
    font-size: 24px;
}

.history p {
    padding: 0 20px;
}

.history li {
    margin-left: 40px;
}

.history li strong {
    color: #33DCF0;
    font-size: 18px;
}

.history li em {
    color: #3CC61A;
}

.greetingHr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.command {
    width: 100%;
}

.domain {
    color: orange;
    width: 16%;
    /*float: left;*/
}

#command-input {
    margin: 0;
    width: 84%;
    height: 22px;
    display: inline-block;
    background-color: transparent;
    border: 0px solid #000;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    /*float: left;*/
}

input:focus {
    outline: none;
}

.modalDialog {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.greetingWrapper {
    position: absolute;
    width: 400px;
    position: relative;
    margin: 15% auto;
    padding: 5px 20px;
    border-radius: 5px;
    background: #f5f5f5;
    opacity: 0.8;
    color: green;
}

.turnon {
    z-index: 99999;
    -webkit-animation: fadein ease-in .5s 1 forwards;
    animation: fadein ease-in .5s 1 forwards;
}

.turnoff {
    z-index: -99999;
    -webkit-animation: fadeout ease-in .5s 1 forwards;
    animation: fadeout ease-in .5s 1 forwards;
}

.hideout {
    display: none;
}

.css-typing {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: red;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

.css-fadein {
    text-indent: 20px;
    text-align: justify;
    -webkit-animation: fadein ease-in 3s 1 forwards;
    animation: fadein ease-in 3s 1 forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.open {
    background: #606061;
    color: #FFF;
    line-height: 25px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    margin: 5px 25px;
}

.open:hover {
    background: #00d9ff;
}

.close {
    background: #606061;
    color: #FFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

.close:hover {
    background: #00d9ff;
}

.noscroll {
    overflow: hidden;
}

@media (max-width: 600px) {
    body {
        line-height: 1.5;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
    }
    .container {
        padding: 10px 5%;
        /*background-color: blue;*/
    }
    .domain {
        width: 35%;
    }
    #command-input {
        width: 65%;
        height: 20px;
        font-size: 14px;
    }
    .greetingWrapper {
        max-width: 300px;
    }
    .history h1,
    h2,
    h3,
    h4,
    h6 {
        font-weight: 300;
        padding: 10px;
    }
    .history h1 {
        font-size: 32px;
        text-align: center;
        padding-top: 20px;
        line-height: 36px;
    }
    .history h3 {
        font-size: 18px;
    }
    .history p {
        padding: 0 20px;
    }
    .history li {
        margin-left: 30px;
    }
    .history li strong {
        color: #33DCF0;
        font-size: 14px;
    }
    .history li em {
        color: #3CC61A;
    }
    .history hr {
        margin: 10px 0;
        color: orange;
        border-color: orange;
    }
    .greetingMsg>h2 {
        font-size: 18px;
    }
    .open {
        margin: 5px 5px;
    }
}