@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff')
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff')
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff')
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

/*[data-icon]:before {*/
    /*font-family: 'icomoon';*/
    /*content: attr(data-icon);*/
    /*speak: none;*/
    /*font-weight: normal;*/
    /*font-variant: normal;*/
    /*text-transform: none;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased*/
/*}*/

/* Use the following CSS code if you want to have a class per icon */

/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

[class*="icon-"] {
    font-family: 'icomoon';
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.icon-home:before {
    content: "\e000";
}

.icon-home2:before {
    content: "\e001";
}

.icon-home3:before {
    content: "\e002";
}

.icon-office:before {
    content: "\e003";
}

.icon-newspaper:before {
    content: "\e004";
}

.icon-pencil:before {
    content: "\e005";
}

.icon-pencil2:before {
    content: "\e006";
}

.icon-quill:before {
    content: "\e007";
}

.icon-pen:before {
    content: "\e008";
}

.icon-blog:before {
    content: "\e009";
}

.icon-eyedropper:before {
    content: "\e00a";
}

.icon-droplet:before {
    content: "\e00b";
}

.icon-paint-format:before {
    content: "\e00c";
}

.icon-image:before {
    content: "\e00d";
}

.icon-images:before {
    content: "\e00e";
}

.icon-camera:before {
    content: "\e00f";
}

.icon-headphones:before {
    content: "\e010";
}

.icon-music:before {
    content: "\e011";
}

.icon-play:before {
    content: "\e012";
}

.icon-film:before {
    content: "\e013";
}

.icon-video-camera:before {
    content: "\e014";
}

.icon-dice:before {
    content: "\e015";
}

.icon-pacman:before {
    content: "\e016";
}

.icon-spades:before {
    content: "\e017";
}

.icon-clubs:before {
    content: "\e018";
}

.icon-diamonds:before {
    content: "\e019";
}

.icon-bullhorn:before {
    content: "\e01a";
}

.icon-connection:before {
    content: "\e01b";
}

.icon-podcast:before {
    content: "\e01c";
}

.icon-feed:before {
    content: "\e01d";
}

.icon-mic:before {
    content: "\e01e";
}

.icon-book:before {
    content: "\e01f";
}

.icon-books:before {
    content: "\e020";
}

.icon-library:before {
    content: "\e021";
}

.icon-file-text:before {
    content: "\e022";
}

.icon-profile:before {
    content: "\e023";
}

.icon-file-empty:before {
    content: "\e024";
}

.icon-files-empty:before {
    content: "\e025";
}

.icon-file-text2:before {
    content: "\e026";
}

.icon-file-picture:before {
    content: "\e027";
}

.icon-file-music:before {
    content: "\e028";
}

.icon-file-play:before {
    content: "\e029";
}

.icon-file-video:before {
    content: "\e02a";
}

.icon-file-zip:before {
    content: "\e02b";
}

.icon-copy:before {
    content: "\e02c";
}

.icon-paste:before {
    content: "\e02d";
}

.icon-stack:before {
    content: "\e02e";
}

.icon-folder:before {
    content: "\e02f";
}

.icon-folder-open:before {
    content: "\e030";
}

.icon-folder-plus:before {
    content: "\e031";
}

.icon-folder-minus:before {
    content: "\e032";
}

.icon-folder-download:before {
    content: "\e033";
}

.icon-folder-upload:before {
    content: "\e034";
}

.icon-price-tag:before {
    content: "\e035";
}

.icon-price-tags:before {
    content: "\e036";
}

.icon-barcode:before {
    content: "\e037";
}

.icon-qrcode:before {
    content: "\e038";
}

.icon-ticket:before {
    content: "\e039";
}

.icon-cart:before {
    content: "\e03a";
}

.icon-coin-dollar:before {
    content: "\e03b";
}

.icon-coin-euro:before {
    content: "\e03c";
}

.icon-coin-pound:before {
    content: "\e03d";
}

.icon-coin-yen:before {
    content: "\e03e";
}

.icon-credit-card:before {
    content: "\e03f";
}

.icon-calculator:before {
    content: "\e040";
}

.icon-lifebuoy:before {
    content: "\e041";
}

.icon-phone:before {
    content: "\e042";
}

.icon-phone-hang-up:before {
    content: "\e043";
}

.icon-address-book:before {
    content: "\e044";
}

.icon-envelop:before {
    content: "\e045";
}

.icon-pushpin:before {
    content: "\e046";
}

.icon-location:before {
    content: "\e047";
}

.icon-location2:before {
    content: "\e048";
}

.icon-compass:before {
    content: "\e049";
}

.icon-compass2:before {
    content: "\e04a";
}

.icon-map:before {
    content: "\e04b";
}

.icon-map2:before {
    content: "\e04c";
}

.icon-history:before {
    content: "\e04d";
}

.icon-clock:before {
    content: "\e04e";
}

.icon-clock2:before {
    content: "\e04f";
}

.icon-alarm:before {
    content: "\e050";
}

.icon-bell:before {
    content: "\e051";
}

.icon-stopwatch:before {
    content: "\e052";
}

.icon-calendar:before {
    content: "\e053";
}

.icon-printer:before {
    content: "\e054";
}

.icon-keyboard:before {
    content: "\e055";
}

.icon-display:before {
    content: "\e056";
}

.icon-laptop:before {
    content: "\e057";
}

.icon-mobile:before {
    content: "\e058";
}

.icon-mobile2:before {
    content: "\e059";
}

.icon-tablet:before {
    content: "\e05a";
}

.icon-tv:before {
    content: "\e05b";
}

.icon-drawer:before {
    content: "\e05c";
}

.icon-drawer2:before {
    content: "\e05d";
}

.icon-box-add:before {
    content: "\e05e";
}

.icon-box-remove:before {
    content: "\e05f";
}

.icon-download:before {
    content: "\e060";
}

.icon-upload:before {
    content: "\e061";
}

.icon-floppy-disk:before {
    content: "\e062";
}

.icon-drive:before {
    content: "\e063";
}

.icon-database:before {
    content: "\e064";
}

.icon-undo:before {
    content: "\e065";
}

.icon-redo:before {
    content: "\e066";
}

.icon-undo2:before {
    content: "\e067";
}

.icon-redo2:before {
    content: "\e068";
}

.icon-forward:before {
    content: "\e069";
}

.icon-reply:before {
    content: "\e06a";
}

.icon-bubble:before {
    content: "\e06b";
}

.icon-bubbles:before {
    content: "\e06c";
}

.icon-bubbles2:before {
    content: "\e06d";
}

.icon-bubble2:before {
    content: "\e06e";
}

.icon-bubbles3:before {
    content: "\e06f";
}

.icon-bubbles4:before {
    content: "\e070";
}

.icon-user:before {
    content: "\e071";
}

.icon-users:before {
    content: "\e072";
}

.icon-user-plus:before {
    content: "\e073";
}

.icon-user-minus:before {
    content: "\e074";
}

.icon-user-check:before {
    content: "\e075";
}

.icon-user-tie:before {
    content: "\e076";
}

.icon-quotes-left:before {
    content: "\e077";
}

.icon-quotes-right:before {
    content: "\e078";
}

.icon-hour-glass:before {
    content: "\e079";
}

.icon-spinner:before {
    content: "\e07a";
}

.icon-spinner2:before {
    content: "\e07b";
}

.icon-spinner3:before {
    content: "\e07c";
}

.icon-spinner4:before {
    content: "\e07d";
}

.icon-spinner5:before {
    content: "\e07e";
}

.icon-spinner6:before {
    content: "\e07f";
}

.icon-spinner7:before {
    content: "\e080";
}

.icon-spinner8:before {
    content: "\e081";
}

.icon-spinner9:before {
    content: "\e082";
}

.icon-spinner10:before {
    content: "\e083";
}

.icon-spinner11:before {
    content: "\e084";
}

.icon-binoculars:before {
    content: "\e085";
}

.icon-search:before {
    content: "\e086";
}

.icon-zoom-in:before {
    content: "\e087";
}

.icon-zoom-out:before {
    content: "\e088";
}

.icon-enlarge:before {
    content: "\e089";
}

.icon-shrink:before {
    content: "\e08a";
}

.icon-enlarge2:before {
    content: "\e08b";
}

.icon-shrink2:before {
    content: "\e08c";
}

.icon-key:before {
    content: "\e08d";
}

.icon-key2:before {
    content: "\e08e";
}

.icon-lock:before {
    content: "\e08f";
}

.icon-unlocked:before {
    content: "\e090";
}

.icon-wrench:before {
    content: "\e091";
}

.icon-equalizer:before {
    content: "\e092";
}

.icon-equalizer2:before {
    content: "\e093";
}

.icon-cog:before {
    content: "\e094";
}

.icon-cogs:before {
    content: "\e095";
}

.icon-hammer:before {
    content: "\e096";
}

.icon-magic-wand:before {
    content: "\e097";
}

.icon-aid-kit:before {
    content: "\e098";
}

.icon-bug:before {
    content: "\e099";
}

.icon-pie-chart:before {
    content: "\e09a";
}

.icon-stats-dots:before {
    content: "\e09b";
}

.icon-stats-bars:before {
    content: "\e09c";
}

.icon-stats-bars2:before {
    content: "\e09d";
}

.icon-trophy:before {
    content: "\e09e";
}

.icon-gift:before {
    content: "\e09f";
}

.icon-glass:before {
    content: "\e0a0";
}

.icon-glass2:before {
    content: "\e0a1";
}

.icon-mug:before {
    content: "\e0a2";
}

.icon-spoon-knife:before {
    content: "\e0a3";
}

.icon-leaf:before {
    content: "\e0a4";
}

.icon-rocket:before {
    content: "\e0a5";
}

.icon-meter:before {
    content: "\e0a6";
}

.icon-meter2:before {
    content: "\e0a7";
}

.icon-hammer2:before {
    content: "\e0a8";
}

.icon-fire:before {
    content: "\e0a9";
}

.icon-lab:before {
    content: "\e0aa";
}

.icon-magnet:before {
    content: "\e0ab";
}

.icon-bin:before {
    content: "\e0ac";
}

.icon-bin2:before {
    content: "\e0ad";
}

.icon-briefcase:before {
    content: "\e0ae";
}

.icon-airplane:before {
    content: "\e0af";
}

.icon-truck:before {
    content: "\e0b0";
}

.icon-road:before {
    content: "\e0b1";
}

.icon-accessibility:before {
    content: "\e0b2";
}

.icon-target:before {
    content: "\e0b3";
}

.icon-shield:before {
    content: "\e0b4";
}

.icon-power:before {
    content: "\e0b5";
}

.icon-switch:before {
    content: "\e0b6";
}

.icon-power-cord:before {
    content: "\e0b7";
}

.icon-clipboard:before {
    content: "\e0b8";
}

.icon-list-numbered:before {
    content: "\e0b9";
}

.icon-list:before {
    content: "\e0ba";
}

.icon-list2:before {
    content: "\e0bb";
}

.icon-tree:before {
    content: "\e0bc";
}

.icon-menu:before {
    content: "\e0bd";
}

.icon-menu2:before {
    content: "\e0be";
}

.icon-menu3:before {
    content: "\e0bf";
}

.icon-menu4:before {
    content: "\e0c0";
}

.icon-cloud:before {
    content: "\e0c1";
}

.icon-cloud-download:before {
    content: "\e0c2";
}

.icon-cloud-upload:before {
    content: "\e0c3";
}

.icon-cloud-check:before {
    content: "\e0c4";
}

.icon-download2:before {
    content: "\e0c5";
}

.icon-upload2:before {
    content: "\e0c6";
}

.icon-download3:before {
    content: "\e0c7";
}

.icon-upload3:before {
    content: "\e0c8";
}

.icon-sphere:before {
    content: "\e0c9";
}

.icon-earth:before {
    content: "\e0ca";
}

.icon-link:before {
    content: "\e0cb";
}

.icon-flag:before {
    content: "\e0cc";
}

.icon-attachment:before {
    content: "\e0cd";
}

.icon-eye:before {
    content: "\e0ce";
}

.icon-eye-plus:before {
    content: "\e0cf";
}

.icon-eye-minus:before {
    content: "\e0d0";
}

.icon-eye-blocked:before {
    content: "\e0d1";
}

.icon-bookmark:before {
    content: "\e0d2";
}

.icon-bookmarks:before {
    content: "\e0d3";
}

.icon-sun:before {
    content: "\e0d4";
}

.icon-contrast:before {
    content: "\e0d5";
}

.icon-brightness-contrast:before {
    content: "\e0d6";
}

.icon-star-empty:before {
    content: "\e0d7";
}

.icon-star-half:before {
    content: "\e0d8";
}

.icon-star-full:before {
    content: "\e0d9";
}

.icon-heart:before {
    content: "\e0da";
}

.icon-heart-broken:before {
    content: "\e0db";
}

.icon-man:before {
    content: "\e0dc";
}

.icon-woman:before {
    content: "\e0dd";
}

.icon-man-woman:before {
    content: "\e0de";
}

.icon-happy:before {
    content: "\e0df";
}

.icon-happy2:before {
    content: "\e0e0";
}

.icon-smile:before {
    content: "\e0e1";
}

.icon-smile2:before {
    content: "\e0e2";
}

.icon-tongue:before {
    content: "\e0e3";
}

.icon-tongue2:before {
    content: "\e0e4";
}

.icon-sad:before {
    content: "\e0e5";
}

.icon-sad2:before {
    content: "\e0e6";
}

.icon-wink:before {
    content: "\e0e7";
}

.icon-wink2:before {
    content: "\e0e8";
}

.icon-grin:before {
    content: "\e0e9";
}

.icon-grin2:before {
    content: "\e0ea";
}

.icon-cool:before {
    content: "\e0eb";
}

.icon-cool2:before {
    content: "\e0ec";
}

.icon-angry:before {
    content: "\e0ed";
}

.icon-angry2:before {
    content: "\e0ee";
}

.icon-evil:before {
    content: "\e0ef";
}

.icon-evil2:before {
    content: "\e0f0";
}

.icon-shocked:before {
    content: "\e0f1";
}

.icon-shocked2:before {
    content: "\e0f2";
}

.icon-baffled:before {
    content: "\e0f3";
}

.icon-baffled2:before {
    content: "\e0f4";
}

.icon-confused:before {
    content: "\e0f5";
}

.icon-confused2:before {
    content: "\e0f6";
}

.icon-neutral:before {
    content: "\e0f7";
}

.icon-neutral2:before {
    content: "\e0f8";
}

.icon-hipster:before {
    content: "\e0f9";
}

.icon-hipster2:before {
    content: "\e0fa";
}

.icon-wondering:before {
    content: "\e0fb";
}

.icon-wondering2:before {
    content: "\e0fc";
}

.icon-sleepy:before {
    content: "\e0fd";
}

.icon-sleepy2:before {
    content: "\e0fe";
}

.icon-frustrated:before {
    content: "\e0ff";
}

.icon-frustrated2:before {
    content: "\e100";
}

.icon-crying:before {
    content: "\e101";
}

.icon-crying2:before {
    content: "\e102";
}

.icon-point-up:before {
    content: "\e103";
}

.icon-point-right:before {
    content: "\e104";
}

.icon-point-down:before {
    content: "\e105";
}

.icon-point-left:before {
    content: "\e106";
}

.icon-warning:before {
    content: "\e107";
}

.icon-notification:before {
    content: "\e108";
}

.icon-question:before {
    content: "\e109";
}

.icon-plus:before {
    content: "\e10a";
}

.icon-minus:before {
    content: "\e10b";
}

.icon-info:before {
    content: "\e10c";
}

.icon-cancel-circle:before {
    content: "\e10d";
}

.icon-blocked:before {
    content: "\e10e";
}

.icon-cross:before {
    content: "\e10f";
}

.icon-checkmark:before {
    content: "\e110";
}

.icon-checkmark2:before {
    content: "\e111";
}

.icon-spell-check:before {
    content: "\e112";
}

.icon-enter:before {
    content: "\e113";
}

.icon-exit:before {
    content: "\e114";
}

.icon-play2:before {
    content: "\e115";
}

.icon-pause:before {
    content: "\e116";
}

.icon-stop:before {
    content: "\e117";
}

.icon-previous:before {
    content: "\e118";
}

.icon-next:before {
    content: "\e119";
}

.icon-backward:before {
    content: "\e11a";
}

.icon-forward2:before {
    content: "\e11b";
}

.icon-play3:before {
    content: "\e11c";
}

.icon-pause2:before {
    content: "\e11d";
}

.icon-stop2:before {
    content: "\e11e";
}

.icon-backward2:before {
    content: "\e11f";
}

.icon-forward3:before {
    content: "\e120";
}

.icon-first:before {
    content: "\e121";
}

.icon-last:before {
    content: "\e122";
}

.icon-previous2:before {
    content: "\e123";
}

.icon-next2:before {
    content: "\e124";
}

.icon-eject:before {
    content: "\e125";
}

.icon-volume-high:before {
    content: "\e126";
}

.icon-volume-medium:before {
    content: "\e127";
}

.icon-volume-low:before {
    content: "\e128";
}

.icon-volume-mute:before {
    content: "\e129";
}

.icon-volume-mute2:before {
    content: "\e12a";
}

.icon-volume-increase:before {
    content: "\e12b";
}

.icon-volume-decrease:before {
    content: "\e12c";
}

.icon-loop:before {
    content: "\e12d";
}

.icon-loop2:before {
    content: "\e12e";
}

.icon-infinite:before {
    content: "\e12f";
}

.icon-shuffle:before {
    content: "\e130";
}

.icon-arrow-up-left:before {
    content: "\e131";
}

.icon-arrow-up:before {
    content: "\e132";
}

.icon-arrow-up-right:before {
    content: "\e133";
}

.icon-arrow-right:before {
    content: "\e134";
}

.icon-arrow-down-right:before {
    content: "\e135";
}

.icon-arrow-down:before {
    content: "\e136";
}

.icon-arrow-down-left:before {
    content: "\e137";
}

.icon-arrow-left:before {
    content: "\e138";
}

.icon-arrow-up-left2:before {
    content: "\e139";
}

.icon-arrow-up2:before {
    content: "\e13a";
}

.icon-arrow-up-right2:before {
    content: "\e13b";
}

.icon-arrow-right2:before {
    content: "\e13c";
}

.icon-arrow-down-right2:before {
    content: "\e13d";
}

.icon-arrow-down2:before {
    content: "\e13e";
}

.icon-arrow-down-left2:before {
    content: "\e13f";
}

.icon-arrow-left2:before {
    content: "\e140";
}

.icon-circle-up:before {
    content: "\e141";
}

.icon-circle-right:before {
    content: "\e142";
}

.icon-circle-down:before {
    content: "\e143";
}

.icon-circle-left:before {
    content: "\e144";
}

.icon-tab:before {
    content: "\e145";
}

.icon-move-up:before {
    content: "\e146";
}

.icon-move-down:before {
    content: "\e147";
}

.icon-sort-alpha-asc:before {
    content: "\e148";
}

.icon-sort-alpha-desc:before {
    content: "\e149";
}

.icon-sort-numeric-asc:before {
    content: "\e14a";
}

.icon-sort-numberic-desc:before {
    content: "\e14b";
}

.icon-sort-amount-asc:before {
    content: "\e14c";
}

.icon-sort-amount-desc:before {
    content: "\e14d";
}

.icon-command:before {
    content: "\e14e";
}

.icon-shift:before {
    content: "\e14f";
}

.icon-ctrl:before {
    content: "\e150";
}

.icon-opt:before {
    content: "\e151";
}

.icon-checkbox-checked:before {
    content: "\e152";
}

.icon-checkbox-unchecked:before {
    content: "\e153";
}

.icon-radio-checked:before {
    content: "\e154";
}

.icon-radio-checked2:before {
    content: "\e155";
}

.icon-radio-unchecked:before {
    content: "\e156";
}

.icon-crop:before {
    content: "\e157";
}

.icon-make-group:before {
    content: "\e158";
}

.icon-ungroup:before {
    content: "\e159";
}

.icon-scissors:before {
    content: "\e15a";
}

.icon-filter:before {
    content: "\e15b";
}

.icon-font:before {
    content: "\e15c";
}

.icon-ligature:before {
    content: "\e15d";
}

.icon-ligature2:before {
    content: "\e15e";
}

.icon-text-height:before {
    content: "\e15f";
}

.icon-text-width:before {
    content: "\e160";
}

.icon-font-size:before {
    content: "\e161";
}

.icon-bold:before {
    content: "\e162";
}

.icon-underline:before {
    content: "\e163";
}

.icon-italic:before {
    content: "\e164";
}

.icon-strikethrough:before {
    content: "\e165";
}

.icon-omega:before {
    content: "\e166";
}

.icon-sigma:before {
    content: "\e167";
}

.icon-page-break:before {
    content: "\e168";
}

.icon-superscript:before {
    content: "\e169";
}

.icon-subscript:before {
    content: "\e16a";
}

.icon-superscript2:before {
    content: "\e16b";
}

.icon-subscript2:before {
    content: "\e16c";
}

.icon-text-color:before {
    content: "\e16d";
}

.icon-pagebreak:before {
    content: "\e16e";
}

.icon-clear-formatting:before {
    content: "\e16f";
}

.icon-table:before {
    content: "\e170";
}

.icon-table2:before {
    content: "\e171";
}

.icon-insert-template:before {
    content: "\e172";
}

.icon-pilcrow:before {
    content: "\e173";
}

.icon-ltr:before {
    content: "\e174";
}

.icon-rtl:before {
    content: "\e175";
}

.icon-section:before {
    content: "\e176";
}

.icon-paragraph-left:before {
    content: "\e177";
}

.icon-paragraph-center:before {
    content: "\e178";
}

.icon-paragraph-right:before {
    content: "\e179";
}

.icon-paragraph-justify:before {
    content: "\e17a";
}

.icon-indent-increase:before {
    content: "\e17b";
}

.icon-indent-decrease:before {
    content: "\e17c";
}

.icon-share:before {
    content: "\e17d";
}

.icon-new-tab:before {
    content: "\e17e";
}

.icon-embed:before {
    content: "\e17f";
}

.icon-embed2:before {
    content: "\e180";
}

.icon-terminal:before {
    content: "\e181";
}

.icon-share2:before {
    content: "\e182";
}

.icon-mail:before {
    content: "\e183";
}

.icon-mail2:before {
    content: "\e184";
}

.icon-mail3:before {
    content: "\e185";
}

.icon-mail4:before {
    content: "\e186";
}

.icon-google:before {
    content: "\e187";
}

.icon-google-plus:before {
    content: "\e188";
}

.icon-google-plus2:before {
    content: "\e189";
}

.icon-google-plus3:before {
    content: "\e18a";
}

.icon-google-drive:before {
    content: "\e18b";
}

.icon-facebook:before {
    content: "\e18c";
}

.icon-facebook2:before {
    content: "\e18d";
}

.icon-facebook3:before {
    content: "\e18e";
}

.icon-ello:before {
    content: "\e18f";
}

.icon-instagram:before {
    content: "\e190";
}

.icon-twitter:before {
    content: "\e191";
}

.icon-twitter2:before {
    content: "\e192";
}

.icon-twitter3:before {
    content: "\e193";
}

.icon-feed2:before {
    content: "\e194";
}

.icon-feed3:before {
    content: "\e195";
}

.icon-feed4:before {
    content: "\e196";
}

.icon-youtube:before {
    content: "\e197";
}

.icon-youtube2:before {
    content: "\e198";
}

.icon-youtube3:before {
    content: "\e199";
}

.icon-youtube4:before {
    content: "\e19a";
}

.icon-twitch:before {
    content: "\e19b";
}

.icon-vimeo:before {
    content: "\e19c";
}

.icon-vimeo2:before {
    content: "\e19d";
}

.icon-vimeo3:before {
    content: "\e19e";
}

.icon-lanyrd:before {
    content: "\e19f";
}

.icon-flickr:before {
    content: "\e1a0";
}

.icon-flickr2:before {
    content: "\e1a1";
}

.icon-flickr3:before {
    content: "\e1a2";
}

.icon-flickr4:before {
    content: "\e1a3";
}

.icon-picassa:before {
    content: "\e1a4";
}

.icon-picassa2:before {
    content: "\e1a5";
}

.icon-dribbble:before {
    content: "\e1a6";
}

.icon-dribbble2:before {
    content: "\e1a7";
}

.icon-dribbble3:before {
    content: "\e1a8";
}

.icon-forrst:before {
    content: "\e1a9";
}

.icon-forrst2:before {
    content: "\e1aa";
}

.icon-deviantart:before {
    content: "\e1ab";
}

.icon-deviantart2:before {
    content: "\e1ac";
}

.icon-steam:before {
    content: "\e1ad";
}

.icon-steam2:before {
    content: "\e1ae";
}

.icon-dropbox:before {
    content: "\e1af";
}

.icon-onedrive:before {
    content: "\e1b0";
}

.icon-github:before {
    content: "\e1b1";
}

.icon-github2:before {
    content: "\e1b2";
}

.icon-github3:before {
    content: "\e1b3";
}

.icon-github4:before {
    content: "\e1b4";
}

.icon-github5:before {
    content: "\e1b5";
}

.icon-wordpress:before {
    content: "\e1b6";
}

.icon-wordpress2:before {
    content: "\e1b7";
}

.icon-joomla:before {
    content: "\e1b8";
}

.icon-blogger:before {
    content: "\e1b9";
}

.icon-blogger2:before {
    content: "\e1ba";
}

.icon-tumblr:before {
    content: "\e1bb";
}

.icon-tumblr2:before {
    content: "\e1bc";
}

.icon-yahoo:before {
    content: "\e1bd";
}

.icon-tux:before {
    content: "\e1be";
}

.icon-apple:before {
    content: "\e1bf";
}

.icon-finder:before {
    content: "\e1c0";
}

.icon-android:before {
    content: "\e1c1";
}

.icon-windows:before {
    content: "\e1c2";
}

.icon-windows8:before {
    content: "\e1c3";
}

.icon-soundcloud:before {
    content: "\e1c4";
}

.icon-soundcloud2:before {
    content: "\e1c5";
}

.icon-skype:before {
    content: "\e1c6";
}

.icon-reddit:before {
    content: "\e1c7";
}

.icon-linkedin:before {
    content: "\e1c8";
}

.icon-linkedin2:before {
    content: "\e1c9";
}

.icon-lastfm:before {
    content: "\e1ca";
}

.icon-lastfm2:before {
    content: "\e1cb";
}

.icon-delicious:before {
    content: "\e1cc";
}

.icon-stumbleupon:before {
    content: "\e1cd";
}

.icon-stumbleupon2:before {
    content: "\e1ce";
}

.icon-stackoverflow:before {
    content: "\e1cf";
}

.icon-pinterest:before {
    content: "\e1d0";
}

.icon-pinterest2:before {
    content: "\e1d1";
}

.icon-xing:before {
    content: "\e1d2";
}

.icon-xing2:before {
    content: "\e1d3";
}

.icon-flattr:before {
    content: "\e1d4";
}

.icon-foursquare:before {
    content: "\e1d5";
}

.icon-paypal:before {
    content: "\e1d6";
}

.icon-paypal2:before {
    content: "\e1d7";
}

.icon-paypal3:before {
    content: "\e1d8";
}

.icon-yelp:before {
    content: "\e1d9";
}

.icon-file-pdf:before {
    content: "\e1da";
}

.icon-file-openoffice:before {
    content: "\e1db";
}

.icon-file-word:before {
    content: "\e1dc";
}

.icon-file-excel:before {
    content: "\e1dd";
}

.icon-libreoffice:before {
    content: "\e1de";
}

.icon-html5:before {
    content: "\e1df";
}

.icon-html52:before {
    content: "\e1e0";
}

.icon-css3:before {
    content: "\e1e1";
}

.icon-git:before {
    content: "\e1e2";
}

.icon-svg:before {
    content: "\e1e3";
}

.icon-codepen:before {
    content: "\e1e4";
}

.icon-chrome:before {
    content: "\e1e5";
}

.icon-firefox:before {
    content: "\e1e6";
}

.icon-IE:before {
    content: "\e1e7";
}

.icon-opera:before {
    content: "\e1e8";
}

.icon-safari:before {
    content: "\e1e9";
}

.icon-IcoMoon:before {
    content: "\e1ea";
}

/*

Copyright © 2013 Sara Soueidan

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.slidePageInFromLeft {
    -webkit-animation: slidePageInFromLeft .8s cubic-bezier(.01, 1, .22, .99) 1 0.25s normal forwards;
    -o-animation: slidePageInFromLeft .8s cubic-bezier(.01, 1, .22, .99) 1 0.25s normal forwards;
    animation: slidePageInFromLeft .8s cubic-bezier(.01, 1, .22, .99) 1 0.25s normal forwards
}

.openpage {
    z-index: 10 !important;
    -webkit-animation: rotatePageInFromRight 1s cubic-bezier(.66, .04, .36, 1.03) 1 normal forwards;
    -o-animation: rotatePageInFromRight 1s cubic-bezier(.66, .04, .36, 1.03) 1 normal forwards;
    animation: rotatePageInFromRight 1s cubic-bezier(.66, .04, .36, 1.03) 1 normal forwards
}

.slidePageBackLeft {
    opacity: 1;
    left: 0;
    -webkit-animation: slidePageBackLeft .8s ease-out 1 normal forwards;
    -o-animation: slidePageBackLeft .8s ease-out 1 normal forwards;
    animation: slidePageBackLeft .8s ease-out 1 normal forwards
}

.slidePageLeft {
    opacity: 1;
    -webkit-transform: rotateY(0) translateZ(0);
    -ms-transform: rotateY(0) translateZ(0);
    -o-transform: rotateY(0) translateZ(0);
    transform: rotateY(0) translateZ(0);
    -webkit-animation: slidePageLeft .8s ease-out 1 normal forwards;
    -o-animation: slidePageLeft .8s ease-out 1 normal forwards;
    animation: slidePageLeft .8s ease-out 1 normal forwards
}

.fadeOutback {
    -webkit-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
    -o-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
    animation: fadeOutBack 0.3s ease-out 1 normal forwards
}

.fadeInForward-1,
.fadeInForward-2,
.fadeInForward-3 {
    opacity: 0;
    -webkit-transform: translateZ(-5em) scale(0.75);
    -ms-transform: translateZ(-5em) scale(0.75);
    -o-transform: translateZ(-5em) scale(0.75);
    transform: translateZ(-5em) scale(0.75);
    -webkit-animation: fadeInForward .5s cubic-bezier(.03, .93, .43, .77) .4s normal forwards;
    -o-animation: fadeInForward .5s cubic-bezier(.03, .93, .43, .77) .4s normal forwards;
    animation: fadeInForward .5s cubic-bezier(.03, .93, .43, .77) .4s normal forwards
}

.fadeInForward-2 {
    -webkit-animation-delay: .55s;
    -o-animation-delay: .55s;
    animation-delay: .55s
}

.fadeInForward-3 {
    -webkit-animation-delay: .7s;
    -o-animation-delay: .7s;
    animation-delay: .7s
}

@keyframes fadeOutBack {
    0% {
        -webkit-transform: translateX(-2em) scale(1);
        -ms-transform: translateX(-2em) scale(1);
        -o-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        opacity: 1
    }

    70% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        -ms-transform: translateZ(-5em) scale(0.6);
        -o-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        opacity: 0.5
    }

    95% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        -ms-transform: translateZ(-5em) scale(0.6);
        -o-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        opacity: 0.5
    }

    100% {
        -webkit-transform: translateZ(-5em) scale(0);
        -ms-transform: translateZ(-5em) scale(0);
        -o-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        opacity: 0
    }
}

@keyframes fadeInForward {
    0% {
        -webkit-transform: translateZ(-5em) scale(0);
        -ms-transform: translateZ(-5em) scale(0);
        -o-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0) scale(1);
        -ms-transform: translateZ(0) scale(1);
        -o-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        opacity: 1
    }
}

@keyframes rotatePageInFromRight {
    0% {
        -webkit-transform: rotateY(-90deg) translateZ(5em);
        -ms-transform: rotateY(-90deg) translateZ(5em);
        -o-transform: rotateY(-90deg) translateZ(5em);
        transform: rotateY(-90deg) translateZ(5em);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        -webkit-transform: rotateY(0deg) translateZ(0);
        -ms-transform: rotateY(0deg) translateZ(0);
        -o-transform: rotateY(0deg) translateZ(0);
        transform: rotateY(0deg) translateZ(0);
        opacity: 1
    }
}

@keyframes slidePageLeft {
    0% {
        left: 0;
        -webkit-transform: rotateY(0deg) translateZ(0);
        -ms-transform: rotateY(0deg) translateZ(0);
        -o-transform: rotateY(0deg) translateZ(0);
        transform: rotateY(0deg) translateZ(0);
        opacity: 1
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        left: -150%;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

@keyframes slidePageInFromLeft {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        opacity: 1;
        left: 0
    }
}

@keyframes slidePageBackLeft {
    0% {
        opacity: 1;
        left: 0;
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95)
    }

    10% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        left: -150%
    }
}

/*======================= media queries for animations =======================*/

@media screen and (min-width: 64em) {
    @keyframes fadeInForward {
        80% {
            opacity: 0.9
        }

        100% {
            -webkit-transform: translateZ(0) scale(1) translateX(-0em);
            -ms-transform: translateZ(0) scale(1) translateX(-0em);
            -o-transform: translateZ(0) scale(1) translateX(-0em);
            transform: translateZ(0) scale(1) translateX(-0em);
            opacity: 1
        }
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #eee;
    background: url(../images/1.png) center top repeat;
    background-size: 100% 100%
}

ul {
    list-style-type: none
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 17px
}

.metro-wrapper {
    padding: 3em .5em;
    width: 100%;
    height: 100%;
    -webkit-perspective: 3300px;
    -ms-perspective: 3300px;
    -o-perspective: 3300px;
    perspective: 3300px;
    position: relative;
}

.dashboard {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
    -webkit-animation: start 1s ease-out forwards;
    -o-animation: start 1s ease-out forwards;
    animation: start 1s ease-out forwards
}

@-webkit-keyframes start {
    0% {
        -webkit-transform: translateX(200px);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1
    }
}

@keyframes start {
    0% {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.col1,
.col2,
.col3 {
    width: 99%;
    margin: 1em auto
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

.r-page {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    color: white;
    z-index: -10;
    padding: 10px;

    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    -ms-transform: rotateY(-90deg) translateZ(5em);
    -o-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em)
}

.s-page {
    color: white;
    z-index: -10;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.page-content {
    overflow-y: auto;
    max-height: 100%;
    font-size: .6em;
    padding: 0em 3.5em;
    text-align: justify;
}

.page-content a{
    text-decoration: none;
    color: inherit;
}

.page-content ul{
    list-style-type: disc;
    padding-left: 2em;
}

.page-content hr{
    /*color: white;*/
    border: none;
    border-top: 1px dashed white;
    margin: 30px 0px;
}

/*default colors just in case you don't define these colors on the tiles*/
.s-page, .r-page {
    background-color: white;
    color: black;
}

.page-title {
    margin: .25em 0;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
}

.close-button {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: .75em;
    cursor: pointer;
    line-height: .8em;
    text-align: center
}

.tile {
    float: left;
    margin: 0 auto 1%;
    color: white;
    font-size: 1.3em;
    text-align: center;
    height: 8em;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    color: #333;
    position: relative;
    -webkit-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out
}

.tile-2xbig {
    height: 16.15em;
    width: 100%
}

.tile-big {
    width: 100%
}

.tile img {
    width: 100%;
    height: 70%
}

.tile-caption {
    position: absolute;
    z-index: 1;
    background-color: #455962;
    color: #fff;
    font-size: 0.85em;
    padding: 1em;
    text-align: left;
    opacity: .75;
}

.caption-bottom {
    left: 0;
    bottom: 0;
    right: 0;
    height: 40%
}

.caption-left {
    left: -100%;
    top: 0;
    bottom: 0;
    width: 49%;
    -webkit-transition: left .3s linear;
    -o-transition: left .3s linear;
    transition: left .3s linear
}

.tile:hover .caption-left {
    left: 0
}

.tile-small {
    width: 49%;
    margin-right: 2%
}

.tile-small.last {
    margin-right: 0
}

.tile div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    padding: 0 1em;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.tile div p {
    display: table-cell;
    vertical-align: middle
}

/*styling the individual tiles*/

.tile-1 {
    background-color: #56D9C9;
    color: white
}

.tile-1:hover {
    background-color: white;
    color: #56D9C9
}

.tile-2 {
    background-color: #FBCC44;
    /*background-color: #455962;*/
    color: white
}

.tile-2:hover {
    background-color: white;
    /*color: #455962*/
    color: #FBCC44;
}

.tile-3 {
    /*background-color: #ddd;*/
    /*color: #455962*/
    background-color: #3EC7F3;
    color: white
}

.tile-3:hover {
    /*background-color: white;*/
    /*color: #455962*/
    background-color: white;
    color: #3EC7F3
}

.tile-5 {
    /*background-color: #FCC120;*/
    background-color: #FB4F28;
    color: white
}

/*.tile-5:hover {
  background-color: #fff;
  color: #FCC120
}*/

.tile-6 {
    /*background-color: #3EC7F3;*/
    background-color: #455962;
    color: white
}

.tile-7,
.tile-8 {
    background-color: transparent;
}

.tile-10 {
    /*background-color: #F0514A;*/
    background-color: #0DA95F;
    color: white
}

.tile-10:hover {
    background-color: white;
    /*color: #F0514A*/
    color: #0DA95F;
}

.tile-10 div {
    text-align: left
}

.tile-2 p,
.tile-3 p {
    font-size: 4em;
    margin-top: .5em
}

.tile-5 p,
.tile-6 p {
    font-size: 2em
}

.tile-1 p span,
.tile-2 p span,
.tile-5 p span,
.tile-6 p span {
    font-size: 1.3em;
    margin-right: .7em;
    position: relative;
    top: .15em
}

.tile-6 p span {
    margin-right: 1em
}

/* slide text inside tile up */

.slideTextUp div:nth-child(2) {
    top: 100%
}

.slideTextUp:hover div {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
}

.tile-1 p {
    font-size: 2em;
}

/* slide text inside tile to the right*/

.slideTextRight div:first-child {
    left: -100%
}

.slideTextRight:hover div {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

/* slide text inside tile to the left */

.slideTextLeft div:nth-child(2) {
    left: 100%
}

.slideTextLeft:hover div {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

/* rotate tile in 3D*/

.rotate3d {
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    overflow: visible
}

.faces {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -o-transition: -o-transform 1s;
    transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: -o-transform 1s;
    transition: transform 1s
}

.faces div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.faces .front {
    /*default*/
    background-color: #455962;
    color: #ddd;
}

.rotate3dX .front {
    background-color: #415E9B;
    /*color: #ddd*/
    color: white
}

.rotate3dY .front {
    /*background-color: #ddd;*/
    background-color: #DD4B39;
    color: white;
    /*color: #455962;*/
}

.faces .back {
    background-color: #455962;
    color: #ddd
}

.front span {
    display: inline-block;
    font-size: 4em;
    margin-top: .5em
}

.rotate3dY .back {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.rotate3dX .back {
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.back p {
    padding: 2.5em 3em
}

.rotate3dY:hover .faces:hover {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.rotate3dX:hover .faces:hover {
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.s-page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -150%;
    color: white;
    text-align: center;
    font-weight: 300;
    z-index: 1
}

/*.s-page p {
    font-size: 6em;
    margin-top: 2em;
    font-weight: 100
}*/

.myform {
    margin: 2em auto;
    width: 300px
}

input {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    width: 260px;
    height: 40px;
    float: left
}

#unlock-button {
    background: black;
    color: white;
    font-size: 1em;
    float: left;
    border: 0;
    height: 2.5em;
    width: 2.5em;
    padding: .3125em;
    text-align: center;
    cursor: pointer;
    border-radius: 2px
}

.delete-button {
    font-size: 0.7em;
    float: right;
    line-height: 25px
}

/*======================= media queries =======================*/

@media screen and (max-width:29.9999em) {
    .col1,
    .col2,
    .col3 {
        float: left;
        margin-right: 1%;
        width: 99%
    }

    .page-title {
        font-size: 2.5em;
    }

    .page-content {
        font-size: 1em;
    }

    .close-button {
        font-size: 2em;
    }
}

@media screen and (min-width: 43.75em) {
    .col1,
    .col2,
    .col3 {
        float: left;
        margin-right: 1%;
        width: 99%
    }

    .page-title {
        font-size: 2.5em;
    }

    .page-content {
        font-size: 1em;
    }

    .close-button {
        font-size: 2em;
    }
}

@media screen and (min-width: 64em) {
    .col1,
    .col2,
    .col3 {
        float: left;
        margin-right: .5%;
        width: 31%
    }

    .col3 {
        margin-right: 0
    }

    .col1 {
        margin-left: 2em
    }

    .page-title {
        font-size: 3.5em;
    }
}

/* prefixed animation keyframes */

@-webkit-keyframes fadeOutBack {
    0% {
        -webkit-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        opacity: 1
    }

    70% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        opacity: 0.5
    }

    95% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        opacity: 0.5
    }

    100% {
        -webkit-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        opacity: 0
    }
}

@-webkit-keyframes fadeInForward {
    0% {
        -webkit-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        opacity: 1
    }
}

@-webkit-keyframes rotatePageInFromRight {
    0% {
        -webkit-transform: rotateY(-90deg) translateZ(5em);
        transform: rotateY(-90deg) translateZ(5em);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        -webkit-transform: rotateY(0deg) translateZ(0);
        transform: rotateY(0deg) translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes slidePageLeft {
    0% {
        left: 0;
        -webkit-transform: rotateY(0deg) translateZ(0);
        transform: rotateY(0deg) translateZ(0);
        opacity: 1
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        left: -150%;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

@-webkit-keyframes slidePageInFromLeft {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        opacity: 1;
        left: 0
    }
}

@-webkit-keyframes slidePageBackLeft {
    0% {
        opacity: 1;
        left: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }

    10% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9)
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        left: -150%
    }
}

@-o-keyframes fadeOutBack {
    0% {
        -webkit-transform: translateX(-2em) scale(1);
        -ms-transform: translateX(-2em) scale(1);
        -o-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        opacity: 1
    }

    70% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        -ms-transform: translateZ(-5em) scale(0.6);
        -o-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        opacity: 0.5
    }

    95% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        -ms-transform: translateZ(-5em) scale(0.6);
        -o-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        opacity: 0.5
    }

    100% {
        -webkit-transform: translateZ(-5em) scale(0);
        -ms-transform: translateZ(-5em) scale(0);
        -o-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        opacity: 0
    }
}

@-o-keyframes fadeInForward {
    0% {
        -webkit-transform: translateZ(-5em) scale(0);
        -ms-transform: translateZ(-5em) scale(0);
        -o-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0) scale(1);
        -ms-transform: translateZ(0) scale(1);
        -o-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        opacity: 1
    }
}

@-o-keyframes rotatePageInFromRight {
    0% {
        -webkit-transform: rotateY(-90deg) translateZ(5em);
        -ms-transform: rotateY(-90deg) translateZ(5em);
        -o-transform: rotateY(-90deg) translateZ(5em);
        transform: rotateY(-90deg) translateZ(5em);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        -webkit-transform: rotateY(0deg) translateZ(0);
        -ms-transform: rotateY(0deg) translateZ(0);
        -o-transform: rotateY(0deg) translateZ(0);
        transform: rotateY(0deg) translateZ(0);
        opacity: 1
    }
}

@-o-keyframes slidePageLeft {
    0% {
        left: 0;
        -webkit-transform: rotateY(0deg) translateZ(0);
        -ms-transform: rotateY(0deg) translateZ(0);
        -o-transform: rotateY(0deg) translateZ(0);
        transform: rotateY(0deg) translateZ(0);
        opacity: 1
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        left: -150%;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

@-o-keyframes slidePageInFromLeft {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        opacity: 1;
        left: 0
    }
}

@-o-keyframes slidePageBackLeft {
    0% {
        opacity: 1;
        left: 0;
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95)
    }

    10% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        left: -150%
    }
}

@-o-keyframes start {
    0% {
        -webkit-transform: translateX(200px);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1
    }
}

.credit-link{
    float: right;
}

.social {
    text-decoration: none;
    color: inherit;
    /*font-size: 17px*/
}

.no-flow{
    overflow: hidden;
}